.clear	{clear:both;}
a:active, a:focus, input {
    outline: 0;
    outline-style:none;
    outline-width:0;
}
.active {background:#3B73B9 !important; color:white !important;}


/* ------------------------------------Outage - BODY --------------------------------------- */
.horizontal_line		{ border:1px solid #CCCED1; margin:40px 0px 20px 0px;}
.page_header			{ margin-bottom:10px;}
.secondry_menu			{ margin-right:0%;}
.secondry_menu button		{ Padding:5px 10px !important; margin:0px !important; background:white; }
.prj_desc_left			{ width:30%; font-size:12px; margin-right:5%; }
.prj_desc_left span		{ margin:0px 0px 0px 0px; float:left;}
.prj_desc_right span		{ margin:0px 0px 0px 0px; float:left;}
.prj_desc_right			{ width:30%; font-size:12px; min-width:100px;}
.body_table				{ margin-top:20px;}
.body_table table			{ background:white;}
.dropdown_settings		{ margin-top:0px; right:49% !important;}
.margin_left_one		{ margin-left:1%;}

/* ------------------------------------CSA_data --------------------------------------- */

.prj_desc_left_csa			{ width:30%; font-size:12px; margin-right:5%;}
.prj_desc_left_csa span		{ margin:0px 0px 0px 0px; float:left;}
.attribe_table_left,.attribe_table_right				{ width:49%;}
.attribe_table_left			{ margin-right:2%}	
.body_table_csa			{ margin-top:0px;}
.body_table_csa	table	{ background:white;}